.Bg-ToDo{
  background: #ccc;
}
.ToDo-Output{
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 70%;
  margin-top: 10px;
}
.ToDo-Output button{
  display: inline-block;
  float: right;
}
.ToDo-Output p{
  display: inline-block;

}